body { margin: 0; }
#chat {
    position: absolute;
    overflow: auto;
    left: 0px;
    right: 0;
    top: 50px;
    padding: 0 13px 0 13px;
    bottom: 63px;
}

.navbar {
    padding: 13px;
}

.navbar-fixed-bottom {
    padding-bottom: 7px;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#message {
    width: 90%;
    font-size: 1.25em;
    padding: 2px 10px 2px 10px;
}